backports.ssl-match-hostname==3.5.0.1
chardet==2.3.0
defusedxml==0.4.1
docker==2.0.1
docker-pycreds==0.2.1
docutils==0.12
ipaddress==1.0.17
Pillow==2.6.1
Pygments==2.0.1
python-apt==0.9.3.12
python-debian==0.1.27
python-debianbts==1.11
reportbug==6.6.3
requests==2.12.3
roman==2.0.0
six==1.8.0
SOAPpy==0.12.22
virtualenv==15.0.1
websocket-client==0.39.0
wstools==0.4.3
